# Reasonix 工具目录
.reasonix/
reasonix.toml

# IDE 配置
.cache/
.codegraph/
.trae/
compile_commands.json
doc/compile_commands.json
.lldbinit
bash.md
.marscode/

# 构建产物
build/
rust/target/
*.o
*.d
*.elf
*.img

# 用户态 initramfs
user/initramfs/
user/initrd.cpio
user/*.bin
user/initrd_cpio.hex

# QEMU dump
virt.dtb
virt.dts

# 文档笔记
doc/page_table.md
